{% extends "base.html" %}

{% block title %}{{ card.name }} ♥ Mom{% endblock %}

{% block page_title %}{{ card.name }} <i class="fa fa-heart"></i> Mom{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <div class="row-cards">
        {% if card.a5 %}
          <div id="card-10" class="card card-text {% if card.a5|length > 200 %}card-long{% endif %}">
            <p>“{{ card.a5 }}”</p>
            {% if card.a5|length > 300 %}<div class="card-long-mask"></div>{% endif%}
          </div>
          <div id="card-9" class="card card-img">
            <img src="http://i.imgur.com/OXHPCT4.gif" alt="">
          </div>
        {% endif %}
        {% if card.a4 %}
          <div id="card-8" class="card card-text {% if card.a4|length > 200 %}card-long{% endif %}">
            <p>“{{ card.a4 }}”</p>
            {% if card.a4|length > 300 %}<div class="card-long-mask"></div>{% endif%}
          </div>
          <div id="card-7" class="card card-question">
            <p>What little thing that your mom does makes you really happy?</p>
          </div>
        {% endif %}
        {% if card.a3 %}
        <div id="card-6" class="card card-text {% if card.a3|length > 200 %}card-long{% endif %}">
            <p>“{{ card.a3 }}”</p>
            {% if card.a3|length > 300 %}<div class="card-long-mask"></div>{% endif%}
          </div>
          <div id="card-5" class="card card-question">
            <p>When's the next time you're going to see your mom?</p>
          </div>
        {% endif %}
        {% if card.a2 %}
          <div id="card-4" class="card card-text {% if card.a2|length > 200 %}card-long{% endif %}">
            <p>“{{ card.a2 }}”</p>
            {% if card.a2|length > 300 %}<div class="card-long-mask"></div>{% endif%}
          </div>
          <div id="card-3" class="card card-question">
            <p>What's your favorite memory with your mom?</p>
          </div>
        {% endif %}
        {% if card.a1 %}
          <div id="card-2" class="card card-text {% if card.a1|length > 200 %}card-long{% endif %}">
            <p>“{{ card.a1 }}”</p>
            {% if card.a1|length > 300 %}<div class="card-long-mask"></div>{% endif%}
          </div>
          <div id="card-1" class="card card-question">
            <p>What do you love most about your mom?</p>
          </div>
        {% endif %}
        <div id="card-0" class="card card-question">
          <p>Happy Mother's Day</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-heart">
    <div class="col-xs-12">
      <div class="heart-button-wrapper">
        <a href="#" id="heart-button" class="button-3d"><i class="fa fa-heart fa-3x"></i></a>
      </div>
    </div>
  </div>

  <div class="row row-progress">
    <div class="col-xs-12">
      <div id="progress">
        <span id="marker">
          <span class="marker-head-wrapper"><i class="fa fa-heart fa-2x"></i></span>
        </span>
      </div>
    </div>
  </div>

{% endblock content %}
