{% extends "base.html" %}

{% block title %}Kevin Xu ♥ Mom{% endblock %}

{% block page_title %}Kevin Xu <i class="fa fa-heart"></i> Mom{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <div class="row-cards">
        <div id="card-4" class="card card-text card-long">
          <p>“The moment where we sat down after my college graduation and I told her id turn down job offers to become an entrepreneur. That wasn't the answer she was looking for, HAHA. -- (I know that as a mom, she had worked so hard to get me to where I am today - she literally worked the graveyard shifts so that in high school she can be a "normal" mom and attend events and stuff. Growing up I'm a lower middle class family, I never felt poor.) --- That answer wasn't the answer she probably was looking for... I guess id expect that of Asian mothers... (My mother is a very Asian mother I guess) Yet she smiled and said do what makes you happy. I'm here to support you 100%. At the end of the day, I'll always offer you a bed to sleep on, and home cooked meals. At that moment, I knew I made the right decision... At that moment, I also realized that I have never been more loved... that I have the best mom in the whole wide world.
          </p>
          <div class="card-long-mask"></div>
        </div>
        <div id="card-3" class="card card-img">
          <img src="http://i.imgur.com/4lbysd4.jpg" alt="">
        </div>
        <div id="card-2" class="card card-text">
          <p>“I love that my mom is always thinking about me and making sure I'm happy, safe, and well-fed :)”</p>
        </div>
        <div id="card-1" class="card card-question">
          <p>What do you love most about your mom?</p>
        </div>
        <div id="card-0" class="card card-question">
          <p>Happy Mother's Day</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-heart">
    <div class="col-xs-12">
      <div class="heart-button-wrapper">
        <a href="#" id="heart-button" class="button-3d"><i class="fa fa-heart fa-3x"></i></a>
      </div>
    </div>
  </div>

  <div class="row row-progress">
    <div class="col-xs-12">
      <div id="progress">
        <span id="marker">
          <span class="marker-head-wrapper"><i class="fa fa-heart fa-2x"></i></span>
        </span>
      </div>
    </div>
  </div>

{% endblock content %}
