{% extends "base.html" %}

{% block title %}배온지 ♥ 마미{% endblock %}

{% block page_title %}배온지 <i class="fa fa-heart"></i> 마미{% endblock page_title %}

{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <div class="row-cards">
        <div id="card-10" class="card card-text card-long">
          <p>“좀 늦었지만 Happy Mother's Day, 마미! 엄만 정말 내가 인생 속에서 가장 강한, 아름다운 영향력이야. 엄마의 지혜와 창의성 밑에서 클 수 있어서 너무 감사하게 느껴요. 박물관 데이트들... 운전할때 나누었던 뜻  깊은 이야길들... 늘 항상 내 곁에 있어주면서 이 세상에 대해서 가르켜줬어 엄마. 20년 동안을 내 옆에 있어주다니... 정말 많이 귀찮았겠다.. 정말 이 세상에서 엄마같은 사람 없어. 그래서 난 이 세상에서 엄마를 제일 사랑해.. 알지? (예수님 다음으로ㅋㅋㅋㅋ) Thank you for being you and letting me be me. 사랑해.”</p>
        </div>
        <div id="card-9" class="card card-img">
          <img src="http://i.imgur.com/OXHPCT4.gif" alt="">
        </div>
        <div id="card-8" class="card card-text">
          <p>“엄마가 막 갑자기 이상한 행동할때 너무 좋아... 공공장소에서 춤추는 거.. 못생긴 표정 내는 거... 아니면 좀 극단적인 농담을 낼때.. ㅋㅋㅋ 좀 unorthodox해도 망설임 없이 통 튀는 엄마.. 절대로 변하지마!!!! ㅋㅋㅋ”</p>
        </div>
        <div id="card-7" class="card card-question">
          <p>어머니가 하는 작은 행동들 중에 어떤게 당신을 제일 기쁘게하나요?</p>
        </div>
      <div id="card-6" class="card card-text">
          <p>“아마.. 내년 여름 아니면 이번 겨울? 기다리는게 쉽진 않지만... 기다림 끝에 큰 행복이 있을거라 믿어요~ 열심히 기다릴께~ 엄마 보고싶어요.. 얼른 영화데이트랑 맛난 음식 먹으러 갈래요. ㅠㅠ”</p>
        </div>
        <div id="card-5" class="card card-question">
          <p>언제 어머니를 다시 뵐 것 같아요?</p>
        </div>
        <div id="card-4" class="card card-text card-long">
          <p>“기억날지 모르겠지만... 옛날에 리오니아 살았을때 리오니아 고등학교 주차장에서 나랑 달리기 한 적있었어. 그땐 현신이 함인이가 아직 애기라서 엄마 유모차를 끌고있었는데.. 그래도 엄마 정말 최선을 다해서 열심히 뛰었다... 왠지 모르겠지만 엄마의 이기겠다는 그 눈 빛이랑 결심이 너무나 생생해. 아직도 기억이나 초등학교인 온지가 엄말 발아보면서 느꼈던 감탄과 즐거움ㅋㅋ 너무 고마워 엄마. 나랑 현신이 함인을 위해 즐거움을 줄라교 늘 노력하는 모습이 정말 감사해. 우리를 위해 엄마의 아이같은 모습을 살리고 보여줘서 너무 고마워. ”</p>
        </div>
        <div id="card-3" class="card card-question">
          <p>어머니와 함께한 추억들 중에 제일 기억에 남은 추억은?</p>
        </div>
        <div id="card-2" class="card card-text card-long">
          <p>“엄마. 내가 21살인데도 공공장소에서 막 뽀뽀하고 꼭 안아줄때 쑥스럽지만 기분 좋다. 겉으로 막 싫어하는 척 하지만 사실 속으로 누가 날 아낀다는 느낌이 나니까 엄마의 뜬금없는 애정 표현들을 엄청 소중하게 느낀다. 아직까지도 날 2살 자리 아이처럼 아껴주는 엄마가 있어서 너무 lucky한 것 같아.”</p>
        </div>
        <div id="card-1" class="card card-question">
          <p>어머니 대해서 무엇이 가장 사랑스럽다고 생각하나요?</p>
        </div>
        <div id="card-0" class="card card-question">
          <p>엄마 사랑해</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-heart">
    <div class="col-xs-12">
      <div class="heart-button-wrapper">
        <a href="#" id="heart-button" class="button-3d"><i class="fa fa-heart fa-3x"></i></a>
      </div>
    </div>
  </div>

  <div class="row row-progress">
    <div class="col-xs-12">
      <div id="progress">
        <span id="marker">
          <span class="marker-head-wrapper"><i class="fa fa-heart fa-2x"></i></span>
        </span>
      </div>
    </div>
  </div>

  <div class="row row-credits">
    <div class="col-xs-12">
      <p>Made with <i class="fa fa-heart fa-2x"></i> by <a href="mailto:kevin@imkevinxu.com?subject=Thanks for Mother's Day App!">Kevin Xu</a></p>
    </div>
  </div>

{% endblock content %}
